/* Global styles */
body {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/429/922/469/3d-hexagon-abstract-hd-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Header styles */
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	text-decoration: none;
}

/* Main content styles */
main {
	margin: 20px;
}

section {
	margin-bottom: 40px;
    color: white;
}

h2 {
	font-size: 28px;
	margin-bottom: 10px;
    color: white;
}

ul {
	list-style: disc;
	margin-left: 20px;
	padding: 0;
    color: white;
}

/* Footer styles */
footer {
	padding: 20px;
	text-align: center;
	color: white;
}